---
import { Image } from "astro:assets";
import PageLayout from "../layouts/PageLayout.astro";
import exco from "../../assets/exco/team-doe.jpg";
---

<PageLayout title="SSA Berkeley | Hire Us">
    <h1>Hire Us</h1>

    <p style="padding-top: 0.5rem; width: 80%; text-align: center;">
        UC Berkeley SSA is home to some of the most intelligent, driven, and
        hardworking individuals ever to walk the grounds of this campus.
    </p>

    <section>
        <Image
            src={exco}
            alt="SSA EXCO 2024-25"
            style="width: 80%; height: auto; max-width: 800px; min-width: 300px; border-radius: 1rem;"
            loading="eager"
        />
        <p>
            Not only have we received a rock-solid foundation in elementary
            thinking and reasoning through the world-renowned Singapore
            education system, our members have also gained admission to some of
            the most competitive graduate programs in Harvard, Stanford,
            Columbia, etc. and/or worked for highly selective companies such as
            Google, Facebook, and Lyft.
        </p>
        <p>
            If you have any internship opportunities, job openings or roles you
            would like to share with the members of Berkeley SSA, please send
            the relevant details to <a
                href="mailto:contactus@ssa.berkeley.edu"
                style="text-decoration: underline;"
                >contactus@ssa.berkeley.edu</a
            > and we'd be happy to share it to the rest of our organization.
        </p>
        <a href="mailto:contactus@ssa.berkeley.edu" class="button">Contact Us</a
        >
    </section>
</PageLayout>

<style>
    h1 {
        font-size: 3rem;
        font-weight: 600;
        padding: 2rem 0;
    }

    section {
        width: 80%;
        max-width: 800px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 2rem;
        padding: 4rem 0;
    }

    .button {
        color: white;
        background-color: black;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        transition-property: opacity;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 300ms;
    }

    .button:hover {
        opacity: 0.85;
    }

    @media (max-width: 768px) {
        h1 {
            font-size: 2rem;
        }

        section {
            padding: 2rem 0;
        }
    }
</style>
